---
import Moon from "../icons/Moon.astro";
import Sun from "../icons/Sun.astro";
---

<button
  id="btn-theme"
  class="border-2 w-auto border-gray-700 text-gray-800 hover:bg-gray-700 hover:text-slate-50 dark:border-gray-300 dark:text-gray-300 font-medium py-1 px-4 dark:hover:bg-gray-300 transition-colors ease-in delay-150 dark:hover:text-slate-950 flex items-center gap-2"
>
  <Sun className="dark:inline-block hidden" />
  <Moon className="inline-block dark:hidden" />
  <span id="txt-theme" class="whitespace-nowrap">Tema claro</span>
</button>
