---
import Email from "./icons/Email.astro";
import Github from "./icons/Github.astro";
import Logo from "./icons/WebHook.astro";
import Linkedin from "./icons/Linkedin.astro";
import Diagonal from "./shared/Diagonal.astro";
import Menu from "./icons/Menu.astro";
import Nav from "./Nav.astro";
---

<header class="p-2 pb-5">
  <div class="h-8 sm:h-7 flex justify-between">
    <div class="h-full inline-flex relative">
      <button id="btn-nav" class="h-full">
        <Diagonal
          className="bg-neutral-800 text-slate-50 hover:bg-orange-500 dark:bg-zinc-700 z-10 relative dark:text-neutral-50 transition-colors delay-100 ease-in dark:hover:text-zinc-700 dark:hover:bg-neutral-50"
        >
          <Menu className="" />
        </Diagonal>
      </button>
      <Diagonal className="bg-green-300 dark:bg-green-400 text-slate-950 -ml-[15px]">
        <span class="mr-1"><Logo /></span> ATM
      </Diagonal>
      <Diagonal
        className="bg-transparent text-neutral-700 dark:text-neutral-300 hidden sm:inline-flex"
      >
        <span id="dynamic-text" class="leading-none"></span>
      </Diagonal>
      <Nav />
    </div>
    <div class="h-full inline-flex flex-row-reverse">
      <a
        href="mailto:atafoya863@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Diagonal
          invert
          className="bg-neutral-800 text-slate-50 dark:bg-neutral-100 dark:text-slate-950 transition-colors ease-in delay-100 hover:bg-blue-600 hover:text-neutral-50"
        >
          <Email />
        </Diagonal>
      </a>
      <a
        href="https://www.linkedin.com/in/adriantaf/"
        target="_blank"
        rel="noopener noreferrer"
        class="transition-transform delay-75 ease-in hover:-translate-y-1"
      >
        <Diagonal invert className="text-neutral-700 dark:text-neutral-300 pr-3">
          <Linkedin />
        </Diagonal>
      </a>
      <a
        href="https://github.com/adriantaf"
        target="_blank"
        rel="noopener noreferrer"
        class="transition-transform delay-75 ease-in hover:-translate-y-1"
      >
        <Diagonal invert className="text-neutral-700 dark:text-neutral-300 pr-2">
          <Github />
        </Diagonal>
      </a>
    </div>
  </div>
</header>

<script>
  window.addEventListener("load", () => {
    function toggleNav() {
      const nav = document.getElementById("nav");

      if (nav?.classList.contains("translate-x-0")) {
        nav.classList.add("-translate-x-[calc(100%+9px)]");

        if (nav?.classList.contains("translate-x-0")) {
          nav.classList.remove("translate-x-0");
        }
      } else {
        nav?.classList.add("translate-x-0");

        if (nav?.classList.contains("-translate-x-[calc(100%+9px)]")) {
          nav.classList.remove("-translate-x-[calc(100%+9px)]");
        }
      }
    }

    function closeMenu(e: KeyboardEvent) {
      if (e.key === "Escape") {
        const nav = document.getElementById("nav");
        if (nav?.classList.contains("translate-x-0")) {
          nav.classList.add("-translate-x-[calc(100%+8px)]");

          if (nav?.classList.contains("translate-x-0")) {
            nav.classList.remove("translate-x-0");
          }
        }
      }
    }

    const sectionTextMap = {
      proyectos: "Proyectos",
      init: "Init",
      experiencia: "Experiencia",
      tecnologias: "Tecnologías",
      habilidades: "Habilidades",
      educacion: "Educación",
      "sobre-mi": "Sobre mí",
    };

    const dynamicText = document.getElementById("dynamic-text");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            const sectionId = entry.target.id;
            const activeText = sectionTextMap[sectionId];

            // sectionId !== "init"

            if (activeText && dynamicText?.textContent !== activeText) {
              dynamicText.textContent = activeText;
            }
          }
        });
      },
      {
        rootMargin: "0px 0px -50% 0px",
        threshold: 0.2,
      },
    );

    Object.keys(sectionTextMap).forEach((id) => {
      const section = document.getElementById(id);
      if (section) {
        observer.observe(section);
      }
    });

    document.getElementById("btn-nav")?.addEventListener("click", toggleNav);
    document.getElementById("nav")?.addEventListener("click", toggleNav);
    document.addEventListener("keyup", (e) => closeMenu(e));
  });
</script>
