---
import Book from "./icons/Book.astro";
import Brain from "./icons/Brain.astro";
import Code from "./icons/Code.astro";
import Work from "./icons/Work.astro";
import User from "./icons/User.astro";
import Check from "./icons/Check.astro";
import Section from "./shared/Section.astro";
import imgHashiRamen from "../assets/img/screenshot-hr.png";
import imgLocOsLinux from "../assets/img/screenshot-lpl.png";
import imgCloneSpotify from "../assets/img/screenshot-sp.png";
import imgSafeBox from "../assets/img/screenshot-sb.png";
import AstroIcon from "./icons/AstroIcon.astro";
import React from "./icons/React.astro";
import Tailwind from "./icons/Tailwind.astro";
import Html from "./icons/Html.astro";
import SQLiteIcon from "./icons/SQLite.astro";
import ElectronIcon from "./icons/Electron.astro";
import Css from "./icons/Css.astro";
import Js from "./icons/Js.astro";
import Link from "./icons/Link.astro";
import imgNikolaTesla from "../assets/img/nikola-tesla.webp";
---

<main class="h-full overflow-hidden">
  <div
    id="main"
    class="h-full overflow-x-hidden overflow-y-auto flex flex-col items-center"
  >
    <section id="init" class="h-auto px-6 flex flex-col justify-center">
      <div
        class="max-w-[700px] py-20 md:min-h-full-main h-auto flex flex-col justify-center"
      >
        <div class="flex justify-center flex-col mb-6">
          <h2 class="text-5xl md:text-8xl dark:text-neutral-100 font-medium">
            <span class="text-orange-600 dark:text-orange-300">A</span>DRIAN <span
              class="text-orange-600 dark:text-orange-300">T</span
            ><span>AFOYA</span>
          </h2>
          <p class="gap-2 font-[500] md:text-2xl text-blue-600  dark:text-blue-300">Desarrollador de software</p>
        </div>
      </div>
    </section>

    <Section id="proyectos" title="Proyectos">
      <Code className="size-8" slot="icon" />
      <div>
        <!-- SafeBox -->
        <article
          class="flex flex-col md:flex-row gap-3 md:gap-8 items-start mb-16"
        >
          <img
            class="w-full md:w-1/2 h-auto border-2 border-neutral-400 dark:border-neutral-600"
            src={imgSafeBox.src}
            alt="Imagen de la app web del clon de spotify"
            loading="lazy"
          />
          <div>
            <h3
              class="text-2xl md:text-3xl font-medium mb-2 text-green-500 dark:text-green-300"
            >
              SafeBox - Desktop App
            </h3>
            <h4 class="text-sm mb-4 text-neutral-700 dark:text-neutral-200">
              Febrero 2025
            </h4>
            <div class="flex gap-4 mb-4">
              <span><React className="size-6" /></span>
              <span><Tailwind className="size-6" /></span>
              <span><ElectronIcon className="size-6" /> </span>
              <span><SQLiteIcon className="size-6" /></span>
            </div>
            <p class="mb-6">
              SafeBox es un gestor de contraseñas local, diseñado para ser
              seguro y fácil de usar, con una interfaz gráfica sencilla. Ideal
              para áreas de trabajo donde no se requiere tener contraseñas en la
              nube. Tecnologías utlizadas: Electron, React, Tailwind CSS y
              SQLite 3.
            </p>
            <div class="flex gap-2">
              <a
                href="https://github.com/adriantaf/safe-box/releases"
                target="_blank"
                rel="noopener noreferrer"
                class="border-2 border-green-600 text-green-700 hover:bg-green-600 dark:border-green-400 hover:text-slate-50 dark:text-green-400 font-medium py-1 px-4 dark:hover:bg-green-400 transition-colors ease-in delay-150 dark:hover:text-slate-950 inline-flex items-center gap-2"
              >
                <Link className="size-5" />
                Descargar
              </a>
              <a
                href="https://github.com/adriantaf/safe-box/"
                target="_blank"
                rel="noopener noreferrer"
                class="border-2 border-gray-500 text-gray-600 hover:bg-gray-500 hover:text-slate-50 dark:border-gray-300 dark:text-gray-300 font-medium py-1 px-4 dark:hover:bg-gray-300 transition-colors ease-in delay-150 dark:hover:text-slate-950 inline-flex items-center gap-2"
              >
                Código
              </a>
            </div>
          </div>
        </article>

        <!-- Clon Spotify -->
        <article
          class="flex flex-col md:flex-row-reverse gap-3 md:gap-8 items-start"
        >
          <img
            class="w-full md:w-1/2 h-auto border-2 border-neutral-400 dark:border-neutral-600"
            src={imgCloneSpotify.src}
            alt="Imagen de la app web del clon de spotify"
            loading="lazy"
          />
          <div>
            <h3
              class="text-2xl md:text-3xl font-medium mb-2 text-green-500 dark:text-green-300"
            >
              Spotify clon - Web App
            </h3>
            <h4 class="text-sm mb-4 text-neutral-700 dark:text-neutral-200">
              Diciembre 2024
            </h4>
            <div class="flex gap-4 mb-4">
              <span><React className="size-6" /></span>
            </div>
            <p class="mb-6">
              Clon Front-end de Spotify, puse en practica mis conocimientos de
              React con React Router y Context Api.
            </p>
            <div class="flex gap-2">
              <a
                href="https://spotifymx.vercel.app/"
                target="_blank"
                rel="noopener noreferrer"
                class="border-2 border-green-600 text-green-700 hover:bg-green-600 dark:border-green-400 hover:text-slate-50 dark:text-green-400 font-medium py-1 px-4 dark:hover:bg-green-400 transition-colors ease-in delay-150 dark:hover:text-slate-950 inline-flex items-center gap-2"
              >
                <Link className="size-5" />
                Preview
              </a>
              <a
                href="https://github.com/adriantaf/spotify"
                target="_blank"
                rel="noopener noreferrer"
                class="border-2 border-gray-500 text-gray-600 hover:bg-gray-500 hover:text-slate-50 dark:border-gray-300 dark:text-gray-300 font-medium py-1 px-4 dark:hover:bg-gray-300 transition-colors ease-in delay-150 dark:hover:text-slate-950 inline-flex items-center gap-2"
              >
                Código
              </a>
            </div>
          </div>
        </article>
      </div>
    </Section>
    <Section id="experiencia" title="Experiencia">
      <Work className="size-8" slot="icon" />
      <div>
        <article
          class="flex flex-col md:flex-row-reverse gap-3 md:gap-8 items-start mb-16"
        >
          <img
            class="w-full md:w-1/2 h-auto border-2 border-neutral-400 dark:border-neutral-600"
            src={imgHashiRamen.src}
            alt="Imagen del sitio web del restaurante hashi ramen pho"
          />
          <div>
            <h3
              class="text-2xl md:text-3xl font-medium mb-2 text-blue-400 dark:text-blue-300"
            >
              Hashi Ramen & Pho - Sitio Web
            </h3>
            <h4 class="text-sm mb-4 text-neutral-700 dark:text-neutral-200">
              Septiembre 2024
            </h4>
            <div class="flex gap-4 mb-4">
              <span><AstroIcon className="size-6" /> </span>
              <span><React className="size-6" /></span>
              <span><Tailwind className="size-6" /></span>
            </div>
            <p class="mb-6">
              Sitio web de un restaurante local que sirve comida asiática,
              cuenta con página de inicio y menú la cual viene de un JSON en el
              que capturé todo el menú.
            </p>
            <ul class="mb-6 space-y-2">
              <li class="flex items-start gap-2">
                <Check
                  className="text-green-600 dark:text-green-400 h-4 w-5 min-w-5 min-h-5"
                />
                <span
                  >Implementación de colores contrastantes para un diseño
                  moderno.</span
                >
              </li>
              <li class="flex items-start gap-2">
                <Check
                  className="text-green-600 dark:text-green-400 h-4 w-5 min-w-5 min-h-5"
                />
                <span>Optimización para dispositivos móviles.</span>
              </li>
            </ul>
            <div>
              <a
                href="https://hashiramen.vercel.app/"
                target="_blank"
                rel="noopener noreferrer"
                class="border-2 border-blue-500 text-blue-600 hover:bg-blue-500 dark:border-blue-400 hover:text-slate-50 dark:text-blue-400 dark:hover:bg-blue-400 font-medium py-1 px-4 transition-colors ease-in delay-150 dark:hover:text-slate-950 inline-flex items-center gap-2"
              >
                <Link className="size-5" />
                Preview
              </a>
            </div>
          </div>
        </article>

        <article class="flex flex-col md:flex-row gap-3 md:gap-8 items-start">
          <img
            class="w-full md:w-1/2 h-auto border-2 border-neutral-400 dark:border-neutral-600"
            src={imgLocOsLinux.src}
            alt="Vista previa del diseño de la página de Loc-OS Linux"
            loading="lazy"
          />

          <div>
            <h3
              class="text-2xl md:text-3xl font-medium mb-2 text-blue-400 dark:text-blue-300"
            >
              Loc-OS Linux - Diseño Web
            </h3>
            <h4 class="text-sm mb-4 text-neutral-700 dark:text-neutral-200">
              2021
            </h4>
            <div class="flex gap-4 mb-4">
              <span><Html className="size-5" /> </span>
              <span><Css className="size-5" /></span>
              <span><Js className="size-5" /></span>
            </div>
            <p class="mb-6">
              Colaboré con el canal de <strong>YouTube</strong> "Locos por Linux"
              para mejorar el diseño de su página web de su distribución de Linux
              llamada "Loc-OS Linux", aplicando un tema oscuro con tonos amarillos,
              asegurando consistencia y una experiencia de usuario más atractiva.
              El diseño estuvo en uso durante 2021.
            </p>
            <ul class="mb-6 space-y-2">
              <li class="flex items-start gap-2">
                <Check
                  className="text-green-600 dark:text-green-400 h-4 w-5 min-w-5 min-h-5"
                />
                <span
                  >Implementación de colores contrastantes para un tema oscuro
                  moderno.</span
                >
              </li>
              <li class="flex items-start gap-2">
                <Check
                  className="text-green-600 dark:text-green-400 h-4 w-5 min-w-5 min-h-5"
                />
                <span>Optimización para dispositivos móviles.</span>
              </li>
            </ul>
            <div class="flex gap-2">
              <a
                href="https://adriantaf.github.io/loc-os-linux/"
                target="_blank"
                rel="noopener noreferrer"
                class="border-2 border-blue-500 text-blue-600 hover:bg-blue-500 dark:border-blue-400 hover:text-slate-50 dark:text-blue-400 dark:hover:bg-blue-400 font-medium py-1 px-4 transition-colors ease-in delay-150 dark:hover:text-slate-950 inline-flex items-center gap-2"
              >
                <Link className="size-5" />
                Preview
              </a>
              <a
                href="https://github.com/adriantaf/loc-os-linux"
                target="_blank"
                rel="noopener noreferrer"
                class="border-2 border-gray-500 text-gray-600 hover:bg-gray-500 hover:text-slate-50 dark:border-gray-300 dark:text-gray-300 font-medium py-1 px-4 dark:hover:bg-gray-300 transition-colors ease-in delay-150 dark:hover:text-slate-950 inline-flex items-center gap-2"
              >
                Código
              </a>
            </div>
          </div>
        </article>
      </div>
    </Section>
    <Section id="habilidades" title="Habilidades">
      <Brain className="size-8" slot="icon" />
      <div>
        <h3 class="text-xl md:text-xl2 mb-3 md:mb-3 dark:text-neutral-100 font-medium flex items-center">
          Habilidades blandas
        </h3>
        <ul class="space-y-2 list-[square] marker:text-red-500 pl-4 mb-5">
          <li>Resolución de problemas</li>
          <li>Trabajo en equipo</li>
          <li>Buena comunicación</li>
          <li>Honestidad</li>
          <li>Creativo</li>
          <li>Constante</li>
          <li>Atención a los detalles / Trabajo bajo presión</li>
        </ul>
      </div>
      <div>
        <h3 class="text-xl md:text-xl2 mb-3 md:mb-3 dark:text-neutral-100 font-medium flex items-center">
          Habilidades técnicas
        </h3>
        <ul class="space-y-2 list-[square] marker:text-red-500 pl-4">
          <li>Programación estructurada con C++</li>
          <li>Programación Orientada a Objetos</li>
          <li>Apps de escritorio: ElectronJS y JavaSwing</li>
          <li>Apps android: Flutter</li>
          <li>Linux: Uso doméstico y de terminal</li>
          <li>Front-end: Javascript, React, Astro y Tailwind</li>
          <li>Back-end: ExpressJS</li>
          <li>Base de datos: MySQL y SQLite</li>
        </ul>
      </div>
    </Section>
    <Section id="educacion" title="Educación">
      <Book className="size-8" slot="icon" />
      <div class="space-y-8">
        <div class="border-l-4 border-purple-500 pl-6">
          <h3 class="text-lg md:text-2xl font-medium mb-2">
            Ingeniería en Sistemas Computacionales
          </h3>
          <p
            class="text-neutral-800 dark:text-neutral-200 text-base mb-2 md:text-lg"
          >
            Instituto Tecnológico de Ensenada (ITE)
          </p>
          <p class="text-sm text-neutral-700 dark:text-neutral-300">
            Agosto 2023 - Septiembre 2024
          </p>
        </div>
        <div class="border-l-4 border-purple-500 pl-6">
          <h3 class="text-lg md:text-2xl font-medium mb-2">
            Técnico en Programación
          </h3>
          <p
            class="text-neutral-800 dark:text-neutral-200 text-base mb-2 md:text-lg"
          >
            CBTIS No. 41
          </p>
          <p class="text-sm text-neutral-700 dark:text-neutral-300">
            Agosto 2019 - Julio 2023
          </p>
        </div>
      </div>
    </Section>
    <Section id="sobre-mi" title="Sobre mí" className="mb-0">
      <User className="size-8" slot="icon" />
      <div class="mb-10">
        <p>
          Desde 2020, he combinado estudios formales y aprendizaje autodidacta, especializándome en desarrollo web con un enfoque en <i>front-end</i> y con una proyección hacia <i>full-stack</i>, tambien estoy abierto a ramas como desarrollo de apps moviles y de escritorio. Me gusta resolver problemas y crear soluciones prácticas mediante la programación.
        </p>
      </div>
    </Section>
    <footer class="w-full flex justify-center px-5">
      <div class="container py-12 w-full flex justify-end md:justify-between items-start gap-4 flex-wrap md:flex-nowrap">
        <blockquote class="dark:text-neutral-100 text-xs md:text-s text-right">
            <p class="italic max-w-[500px]">
              "El desarrollo progresivo del hombre depende vitalmente de las
              invenciones. Son el resultado más importante del cerebro
              creativo".
            </p>
            <small
              class="block mt-4 text-xs text-right  text-neutral-800 dark:text-neutral-200"
              >- Nikola Tesla.</small
            >
        </blockquote>
        <small class="text-right">Desarrollado con Astro y Vanilla JS.</small>
      </div>
    </footer>
  </div>
</main>
