---
import ThemeButton from "./shared/ThemeButton.astro";
---

<nav
  id="nav"
  class="-translate-x-[calc(100%+9px)] w-auto absolute z-[100] left-0 bottom-10 sm:bottom-9 bg-neutral-300 dark:bg-slate-800 transition-transform ease-in delay-75"
>
  <ul>
    <li>
      <a
        class="flex px-4 py-2 transition-colors ease-in delay-150 hover:bg-slate-300 dark:hover:bg-slate-700"
        href="#init">Init</a
      >
    </li>
    <li>
      <a
        class="flex px-4 py-2 transition-colors ease-in delay-150 hover:bg-slate-300 dark:hover:bg-slate-700"
        href="#proyectos">Proyectos</a
      >
    </li>
    <li>
      <a
        class="flex px-4 py-2 transition-colors ease-in delay-150 hover:bg-slate-300 dark:hover:bg-slate-700"
        href="#experiencia">Experiencia</a
      >
    </li>
    <li>
      <a
        class="flex px-4 py-2 transition-colors ease-in delay-150 hover:bg-slate-300 dark:hover:bg-slate-700"
        href="#habilidades">Habilidades</a
      >
    </li>
    <li>
      <a
        class="flex px-4 py-2 transition-colors ease-in delay-150 hover:bg-slate-300 dark:hover:bg-slate-700"
        href="#educacion">Educación</a
      >
    </li>
    <li>
      <a
        class="flex px-4 py-2 transition-colors ease-in delay-150 hover:bg-slate-300 dark:hover:bg-slate-700"
        href="#sobre-mi">Sobre mí</a
      >
    </li>
    <li class="">
      <ThemeButton />
    </li>
  </ul>
</nav>
