@font-face {
  font-family: "UbuntuSansMono";
  src: url("../../assets/fonts/UbuntuSansMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "UbuntuSansMono";
  src: url("../../assets/fonts/UbuntuSansMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "UbuntuSansMono";
  src: url("../../assets/fonts/UbuntuSansMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "UbuntuSansMono";
  src: url("../../assets/fonts/UbuntuSansMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "UbuntuSansMono";
  src: url("../../assets/fonts/UbuntuSansMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "UbuntuSansMono";
  src: url("../../assets/fonts/UbuntuSansMono-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "UbuntuSansMono";
  src: url("../../assets/fonts/UbuntuSansMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "UbuntuSansMono";
  src: url("../../assets/fonts/UbuntuSansMono-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}